EXPO_PUBLIC_ADMOB_APP_ID_IOS=ca-app-pub-xxx
EXPO_PUBLIC_ADMOB_APP_ID_ANDROID=ca-app-pub-xxx
EXPO_PUBLIC_REVENUECAT_KEY_IOS=appl_xxx
EXPO_PUBLIC_REVENUECAT_KEY_ANDROID=goog_xxx
EXPO_PUBLIC_POSTHOG_KEY=phc_xxx
EXPO_PUBLIC_POSTHOG_HOST=https://app.posthog.com
SENTRY_DSN_IOS=https://xxx@xxx.ingest.sentry.io/xxx
SENTRY_DSN_ANDROID=https://xxx@xxx.ingest.sentry.io/xxx
